.App {
    margin-top: 0;
    padding-top: 0;
}
.jumbo-header {
    background: rgb(254,207,62);
    background: linear-gradient(90deg, rgba(254,207,62,1) 0%, rgba(255,28,44,1) 72%, rgba(125,19,30,1) 93%);
    height: 300px;
    margin-top: 0;
}

html, body {
    margin-top: 0;
    padding-top: 0;
}